@{
    ViewData["Title"] = "TypeScript Lab";
}

<script src="~/js/lab.js"></script>

<h1>TypeScript Lab</h1>
<br />
<br />
<br />
<button onclick="findNameOfTallestMountain()">Tallest Mountain</button>
<br />
<br />
<br />
<button onclick="calcAverageProductPrice()">Average Product Price</button>
<br />
<br />
<br />
<button onclick="calcInventoryValue()">Inventory Value</button>
